# Requisitos para a execução do script med2image

# Biblioteca principal para computação numérica e manipulação de arrays
numpy

# Usada para processamento de imagens, como rotações
scipy

# Essencial para ler e escrever formatos de neuroimagem, como .nii e .nii.gz
# ATENÇÃO: A versão DEVE ser inferior a 5.0 para ser compatível com
# a chamada de função 'get_data()' usada neste script.
nibabel<5.0

# Para ler e manipular arquivos no formato DICOM (.dcm)
pydicom

# Usada para plotar e salvar as imagens em formatos como .png e .jpg
matplotlib

# Uma dependência do med2image para logging e utilitários
pfmisc

# Um depurador de código visual para o terminal (opcional para execução, mas presente no código)
pudb
